{% extends 'base.html.twig' %} {% block title %}DevController{% endblock %} {% block javascripts %} {% block importmap %} {# do NOT call parent() #} {# ricordarsi di importare app per ultimo
https://alpinejs.dev/advanced/extending#via-script-tag #}
{{ importmap(["dev", "app"]) }}
{% endblock %} {% endblock %} {% block body %}

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <button
    type="button"
    class="flex justify-center rounded-md  px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    x-data="chunk_add_like"
    :class="$store.liked.on ? 'bg-cyan-200 hover:bg-cyan-400' : 'bg-neutral-200 hover:bg-neutral-400'"
    @click="addLike"
  >
  Like
  </button>
</div>


</div>
{% endblock %}
